.parent{
	border:5px solid #000;
	width:1200px;
	height:500px;
	display:flex;
	justify-content:space-evenly;
	}
.c1{
	background-color:yellow;
	flex-grow:1;
	
}
.c2{
	background-color:blue;
	flex-grow:1;
}

